#post.ftco-section {
    padding: 0;
}

.about-author > div {
    width: 50%;
}

@media screen and (max-width: 550px) {
    .about-author {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 390px) {
    .about-author {
        flex-direction: column;
    }

    .about-author > div {
        width: 100%;
    }
}